@using ChartJs.Blazor.BarChart
@using FinancialGoals.Core.DTOs.Account
@using System.Drawing
@using Color = System.Drawing.Color

@inject ITransactionService TransactionService

@if (Account != null)
{
    <div style="font-family: EightBitsFont;">
        <Chart Config="_config"></Chart>
    </div>
}

@code {
    [Parameter]
    public AccountToReturn Account { get; set; }
    [Parameter]
    public DateTime? Date { get; set; }
    
    private BarConfig _config = new BarConfig();

    protected override async Task OnParametersSetAsync()
    {
        await UpdateConfigAsync();
    }

    private async Task UpdateConfigAsync()
    {
        Date ??= DateTime.Today;
        
        _config.Options = new BarOptions
        {
            Responsive = true,
            Legend = new Legend
            {
                Display = false,
                Position = Position.Bottom
            },
            Title = new OptionsTitle
            {
                Display = true,
                Text = $"Expenses in {Date.Value.Year}"
            }
        };

        var monthlyExpenses = await TransactionService.GetAllTransactionsForAccount(Account.FinancialAccountId, Date.Value.Year);
        var expenses = new List<double>();

        monthlyExpenses.ForEach(x =>
        {
            expenses.Add(x.Value);
        });
        
        var dataset = CreateRandomColoredBarDataset(expenses);
        _config.Data.Labels.Clear();
        
        monthlyExpenses.ForEach(x =>
        {
            _config.Data.Labels.Add(x.Key);
        });
        
        _config.Data.Datasets.Clear();
        _config.Data.Datasets.Add(dataset);
    }

    private BarDataset<double> CreateRandomColoredBarDataset(List<double> data)
    {
        var backgroundColors = new List<string>();
        
        backgroundColors.Add("#FFFFFF"); // Jan
        backgroundColors.Add("#C0C0C0"); // Feb
        backgroundColors.Add("#90EE90"); // Mar
        backgroundColors.Add("#FF69B4"); // Apr
        backgroundColors.Add("#00FF00"); // May
        backgroundColors.Add("#FFFF00"); // Jun
        backgroundColors.Add("#FFA500"); // Jul
        backgroundColors.Add("#FF8C00"); // Aug
        backgroundColors.Add("#FF4500"); // Sep
        backgroundColors.Add("#FF7518"); // Oct
        backgroundColors.Add("#A52A2A"); // Nov
        backgroundColors.Add("#00008B"); // Dec

        var dataset = new BarDataset<double>(data)
        {
            BackgroundColor = backgroundColors.ToArray()
        };

        return dataset;
    }
}
