@page "/"
@using FinancialGoals.Client.Services.AccountService

@inject IAccountService AccountService
@implements IDisposable
<PageTitle>Home</PageTitle>


@if (AccountService.Accounts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <Segmented Block Labels=@financialAccountsNames />
}

@code
{
    List<string> financialAccountsNames = new List<string>();
    
    protected override async Task OnInitializedAsync()
    {
        await AccountService.GetAccounts();
        AccountService.Accounts.ForEach(acc =>
        {
            financialAccountsNames.Add(acc.Name);
        });
        AccountService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AccountService.OnChange -= StateHasChanged;
    }
}

