@page "/"
@using FinancialGoals.Client.Services.AccountService

@inject IAccountService AccountService
@implements IDisposable
<PageTitle>Home</PageTitle>


@if (AccountService.Accounts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <Segmented Block Labels=@(new[] {AccountService.Accounts[0].Name, AccountService.Accounts[1].Name}) />
}
@* <Segmented Block Labels=@(new[] {"longtext-longtext-longtext-longtext"}) /> *@


@code
{
    protected override async Task OnInitializedAsync()
    {
        await AccountService.GetAccounts();
        AccountService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AccountService.OnChange -= StateHasChanged;
    }
}

